{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SanrioDreams - Tienda de artículos</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'static/css/responsive.css' %}" rel="stylesheet" />

</head>

<body>

  <div class="main_body_content">

    <div class="hero_area">

      <!-- Header Inicio -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              SanrioDreams 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> Acerca de Nosotros</a>
                </li>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <div class="collapse navbar-collapse">
                   <ul class="navbar-nav ml-auto">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProductos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Productos
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdownProductos">
                          <a class="dropdown-item" href="{% url 'productos' %}">Todos los productos</a>
                         <a class="dropdown-item" href="{% url 'peluches' %}">Peluches</a>
                         <a class="dropdown-item" href="{% url 'botellas' %}">Botellas</a>
                          <a class="dropdown-item" href="{% url 'termos' %}">Termos</a>
                         <a class="dropdown-item" href="{% url 'pines' %}">Pines</a>
                          <a class="dropdown-item" href="{% url 'llaveros' %}">Llaveros</a>
                         <a class="dropdown-item" href="{% url 'lamparas' %}">Lámparas</a>
                      </div>
                     </li>
                    </ul>
                 </div>
                </nav>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contacta con Nosotros</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <input type="text" class="form-control" placeholder="Buscar..." />
                  <button class="btn nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="{% url 'login' %}">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Fin de Header -->

      <!-- Inicio Productos -->
        <h3 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Nuestras Lamparas</h3>
     <div class="tarjetas-contenedor">
        <div class="tarjeta">
            <img src="{% static 'images/Lampara_LittleTwinStars.png' %}" alt="Lampara Little Twin Stars">
            <h3>Lámpara Little Twin Stars</h3>
            <p>$xx.xxx</p>
            <button>Agregar al carrito</button>
            <p>Cantidad : 1</p>
        </div>
        
        <div class="tarjeta">
            <img src="{% static 'images/Lampara_Cinnamoroll.png' %}" alt="Lampara Cinnamoroll">
            <h3>Lámpara Cinnamoroll</h3>
            <p>$xx.xxx</p>
            <button>Agregar al carrito</button>
            <p>Cantidad : 1</p>
        </div>
        
        <div class="tarjeta">
            <img src="{% static 'images/Lampara_MyMelody.png' %}" alt="Lampara MyMelody">
            <h3>Lámpara My Melody</h3>
            <p>$xx.xxx</p>
            <button>Agregar al carrito</button>
            <p>Cantidad : 1</p>
        </div>

        <div class="tarjeta">
            <img src="{% static 'images/Lampara_HelloKitty.png' %}" alt="Lampara Hello Kitty">
            <h3>Lámpara Hello Kitty</h3>
            <p>$xx.xxx</p>
            <button>Agregar al carrito</button>
            <p>Cantidad : 1</p>
         </div>

        <div class="tarjeta">
            <img src="{% static 'images/Lampara_Kuromi.png' %}" alt="Lampara Kuromi">
            <h3>Lámpara Kuromi</h3>
            <p>$xx.xxx</p>
            <button>Agregar al carrito</button>
            <p>Cantidad : 1</p>
         </div>
    </div>
      <!-- Fin Productos --> 

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menú
              </h4>
              <div class="info_links_menu">
                <a href="{% url 'index' %}">
                  Inicio
                </a>
                <a href="about.html">
                  Acerca de Nosotros
                </a>
                <a href="{% url 'productos' %}">
                  Productos
                </a>
                <a href="testimonial.html">
                  Contacta con Nosotros
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Compañia
              </h4>
              <p class="mb-0">
                SanrioDreams es una tienda online dedicada a ofrecer productos originales de Sanrio a precios accesibles. Buscamos brindar una experiencia de compra segura, rápida y temática, con atención personalizada y envíos a todo Chile.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h4>
              Contactanos
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +56 9 xxxx xxxx
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  sanriodreams@sanriodreams.cl
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end info_section -->

 <!-- footer section -->
     <footer class="container-fluid footer_section">
  <div class="container">
    <div class="col-md-11 col-lg-8 mx-auto">
      <p>
        &copy; <span id="displayYear"></span> Todos los derechos reservados a 
        <a href="https://html.design/">SanrioDreams <3</a>
      </p>
    </div>
  </div>
    </footer>
  <!-- footer section -->
  </div>

 

  <!-- jQery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- custom js -->
  <script  src="{% static 'js/custom.js' %}"></script> 


</body>

</html>