<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Sanrio</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="main_body_content">

        <div class="hero_area">
            </div>

        <header class="header_section">
            </header>

        <section id="peluches" class="peluches">
            <div class="container">
                <h2 class="heading_container">Nuestros Peluches</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Peluche_HelloKitty.png" alt="Peluche Hello Kitty">
                            </div>
                            <div class="detail-box">
                                <h6>Peluche original de Hello Kitty</h6>
                                <p>Cantidad: 12</p>
                            </div>
                            <div class="btn-agregar" data-id="17" onclick="agregarAlCarrito(17)">
                                PELUCHE <span class="text-orange">HELLO KITTY</span>
                                <div class="price">$12.990 CLP</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Peluche_MyMelody.png" alt="Peluche My Melody">
                            </div>
                            <div class="detail-box">
                                <h6>Peluche My Melody de Sanrio</h6>
                                <p>Cantidad: 8</p>
                            </div>
                            <div class="btn-agregar" data-id="18" onclick="agregarAlCarrito(18)">
                                PELUCHE <span class="text-orange">MY MELODY</span>
                                <div class="price">$12.990 CLP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section id="botellas" class="botellas">
            <div class="container">
                <h2 class="heading_container">Nuestras Botellas</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Botella_520ml_HelloKitty.png" alt="Botella Hello Kitty">
                            </div>
                            <div class="detail-box">
                                <h6>Botella 520ml Hello Kitty</h6>
                            </div>
                            <div class="btn-agregar" data-id="1" onclick="agregarAlCarrito(1)">
                                BOTELLA <span>HELLO KITTY</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Botella_520ml_MyMelody.png" alt="Botella My Melody">
                            </div>
                            <div class="detail-box">
                                <h6>Botella 520ml My Melody</h6>
                            </div>
                            <div class="btn-agregar" data-id="2" onclick="agregarAlCarrito(2)">
                                BOTELLA <span>MY MELODY</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section id="termos" class="termos">
            <div class="container">
                <h2 class="heading_container">Nuestros Termos</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Termo_200ml_Kuromi.png" alt="Termo Kuromi">
                            </div>
                            <div class="detail-box">
                                <h6>Termo 200ml Kuromi</h6>
                            </div>
                            <div class="btn-agregar" data-id="5" onclick="agregarAlCarrito(5)">
                                TERMO <span>KUROMI</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section id="pines" class="pines">
            <div class="container">
                <h2 class="heading_container">Nuestros Pines</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Pin_Cinnamoroll.png" alt="Pin Cinnamoroll">
                            </div>
                            <div class="detail-box">
                                <h6>Pin Cinnamoroll</h6>
                            </div>
                            <div class="btn-agregar" data-id="8" onclick="agregarAlCarrito(8)">
                                PIN <span>CINNAMOROLL</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section id="llaveros" class="llaveros">
            <div class="container">
                <h2 class="heading_container">Nuestros Llaveros</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Llavero_Pompompurin.png" alt="Llavero Pompompurin">
                            </div>
                            <div class="detail-box">
                                <h6>Llavero Pompompurin</h6>
                            </div>
                            <div class="btn-agregar" data-id="12" onclick="agregarAlCarrito(12)">
                                LLAVERO <span>POMPOMPURIN</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section id="lamparas" class="lamparas">
            <div class="container">
                <h2 class="heading_container">Nuestras Lámparas</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="img-box">
                                <img src="static/images/Lampara_LittleTwinStars.png" alt="Lámpara Little Twin Stars">
                            </div>
                            <div class="detail-box">
                                <h6>Lámpara Little Twin Stars</h6>
                            </div>
                            <div class="btn-agregar" data-id="15" onclick="agregarAlCarrito(15)">
                                LÁMPARA <span>LITTLE TWIN STARS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>

        <section class="info_section layout_padding2">
            </section>

        <footer class="container-fluid footer_section">
            </footer>

    </div>

    <script>
        // Tu función nativa que ya existía permanece intacta aquí
        // El HTML ahora usa 'onclick' y 'data-id' de forma estándar para no interferir con ella.
        function agregarAlCarrito(id) {
            // Aquí corre tu lógica AJAX / Fetch original
            console.log("Añadiendo producto de forma interna mediante JS, ID:", id);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@formatjs/intl-numberformat-polyfill@4/dist/formatjs-intl-numberformat.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>